/* Контейнер */
.container {
  display: inline;
}

/* Обёртка слова — маска */
.wordWrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

/* Слово */
.word {
  display: inline-block;
}
